name: 'Close Stale Issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *' # S'exécute tous les jours à 01:30

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-message: 'Cette issue a été marquée comme "stale" car elle n’a pas eu d’activité récente. Elle sera fermée dans 7 jours si aucune action n’est entreprise.'
          stale-pr-message: 'Cette Pull Request a été marquée comme "stale" car elle n’a pas eu d’activité récente. Elle sera fermée dans 7 jours si aucune action n’est entreprise.'
          days-before-stale: 30
          days-before-close: 7
          stale-issue-label: 'stale'
          stale-pr-label: 'stale'
